<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDx7BSweq5dRzXavs1vxuMWeR2ETMR6b3Q&origin=Brigham+and+Women's+Hospital:+Spiegel+Joan+H+MD,+45+Francis+St+%23+D,+Boston,+MA+02115&destination=Brigham+and+Women's+Faulkner+Hospital,+1153+Centre+St,+Boston,+MA+02130" width="1987" height="1190" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="true" tabindex="0"></iframe>
</body>
</html>