.table-view{
    -fx-background-color: #7fd9ec;
}

.table-view:focused{
    -fx-background-color: #7fd9ec;
}


.table-view .column-header-background{
    -fx-background-color: #002186;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #002186;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #b1e8f4;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #7fd9ec;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.choice-box .context-menu {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.choice-box {
    -fx-background-color: #005797;
    -fx-mark-color: white;
}

.choice-box > .label { -fx-text-fill: white; }