@font-face {
    src: url('Karla-Regular.ttf');
}

.jfx-text-field {
    -fx-text-fill: BLACK;
    -fx-background-color: WHITE;
    -fx-font-family: 'Karla';
    -fx-font-size: 18;
    -fx-border-width: 1;
    -fx-border-color: #ECECEC;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -jfx-focus-color: #7E9AB6;
    -jfx-unfocus-color: #E6EBF2;
}