@font-face {
    src: url('Karla-Regular.ttf');
}

.label{
    -fx-text-fill: BLACK;
    -fx-font-size: 20;
    -fx-font-family: 'Karla';
    -fx-background-color: #E9EBEE;
    -fx-background-radius: 20;
    -fx-padding: 20;
}