.pane:hover {
    -fx-border-color: #4A69C6;
    -fx-border-width: 2px;
}

.text-area {
    -fx-text-fill: black;
    -fx-background-color: #E6EBF2;
    -fx-pref-height: 395;
    -fx-pref-width: 255;
}

.textField {
    -fx-text-fill: BLACK;
    -fx-background-color: #E6EBF2;
    -fx-pref-height: 35px;
    -fx-background-radius: 25px;
    -fx-prompt-text-fill: GREY;
    -fx-font-size: 15;
}

.list-cell {
    -fx-background-radius: 25px;
    -fx-background-color: #E6EBF2;
    -fx-font-size: 12;
    -fx-padding: 8px;
}

.list-cell:selected {
    -fx-background-color: #7E9AB6;
}

.button {
    -fx-background-color: #4A69C6;
    -fx-background-radius: 25px;
    -fx-text-fill: #E6EBF2;
    -fx-pref-width: 100px;
    -fx-pref-height: 25px;
    -fx-font-size: 18;
}

.toggle {
    -fx-text-fill: #e6ebf2;
    -fx-background-color: #263051;
    -fx-font-size: 18;
}

.label {
    -fx-text-alignment: center;
    -fx-text-fill: #E6EBF2;
    -fx-font-size: 24;
    -fx-background-radius: 25px;
}

.quick-access {
    -fx-pref-width: 125px;
    -fx-pref-height: 25px;
    -fx-background-color: #4A69C6;
}

.jfx-tab-pane {
    -fx-pref-width: 345px;
    -fx-pref-height: 800px;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: transparent;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #6C5C7F;
}


.jfx-tab-pane .tab {
    -fx-pref-width: 110px;
    -fx-pref-height: 41px;
}

.jfx-tab-pane .tab:hover {
    -fx-background-color: #7E9AB6;
}

.jfx-tab-pane .tab:selected {
    -fx-background-color: #4A69C6;
}
